@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$orange: #ff7500;


body {
    font-family: 'Ubuntu';
    color: white;
    background: rgb(22, 130, 91);
    background: radial-gradient(circle, rgba(22, 130, 91, 1) 21%, rgba(15, 96, 66, 1) 50%, rgba(9, 57, 39, 1) 87%);

}



header,
main {
    margin: 30px 10%;
}

header {
    display: flex;
    justify-content: space-between;



    .nav-a {
        color: white;
        text-decoration: none;

    }

    .heading {
        letter-spacing: 1px;
        font-size: 3rem;

        &-tittle {
            text-align: center;

            &-logotype {
                color: $orange;
                border-bottom: 5px solid white;
                padding-bottom: 5px;
            }
        }
    }

    .nav {
        display: flex;
        margin: 1rem 0 0;
        letter-spacing: 1px;
        font-size: 1.6rem;

        &-item {
            border-bottom: 5px solid transparent;
            padding: 0 15px;

            &:hover:not(.heading-tittle) {
                border-bottom: 5px solid $orange;
                box-shadow: 3px -75px 70px -100px rgba(86, 23, 0, 0.6) inset;
            }

            &:active:not(.heading-tittle) {
                color: $orange;
                border-bottom: 2px solid white;
            }


            &-text {
                padding-bottom: 15px;

                &::first-letter {
                    color: $orange;
                    letter-spacing: 1.5px;
                }
            }


        }
    }
}

.main {
    &-sect {
        display: flex;
        justify-content: start;
        margin: 100px 0;

        &-column-right {
            max-width: 49%;
            padding: 20px;
            border: 5px solid white;
            border-radius: 10px;

            display: flex;
            gap: 0 20px;
        }

        &-column-left {
            max-width: 49%;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px 0;
            min-width: 30%;



            &-text {
                font-size: 2rem;
                text-align: center;
                padding-bottom: 10px;
                letter-spacing: 1px;

                &:hover {
                    color: $orange;
                }
            }

            &-link {
                color: white;
                text-decoration: none;
            }
        }
    }

    &-img {
        max-width: 99%;
        height: auto;


    }
}

.section-tittle {
    font-size: 2rem;
    color: $orange;
    border-bottom: 5px solid white;
    padding-bottom: 5px;
    font-weight: bold;
}

.section-text {
    padding: 15px 20px;
    font-size: 1.1rem;
    line-height: 1.23;
}

.sect-2 {
    flex-direction: row-reverse;

    .section-tittle {
        padding-left: 5px;
    }

}

.text-link {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 2px solid $orange;

    &:hover {
        border-bottom: 2px solid white;
    }

    &:active {
        color: $orange;


    }
}

.footer {
    display: flex;
    flex-direction: column;
    background: rgb(7, 45, 31);
    background: linear-gradient(0deg, rgba(7, 45, 31, 1) 0%, rgba(15, 96, 66, 0) 100%);

    &-row-up {
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0 0;

        &-item {
            color: dimgray;
            text-decoration: none;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid dimgray;
            }

            &:active {
                color: white;
                border-bottom: 2px solid $orange;
            }

            &-text {
                font-size: 1.2rem;
            }
        }
    }

    &-row-down {
        text-align: center;
        color: dimgray;
        padding: 15px 0;
    }
}

.second-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .footer {
        margin-top: auto;
    }

    .heading-tittle {

        &:hover {

            .heading-tittle-logotype {
                color: $orange;
                border-bottom: 5px solid white;
            }
        }

        &:active {

            .heading-tittle-logotype {
                color: white;
                border-bottom: 2px solid $orange;
            }
        }


        &-logotype {
            color: white;
            border-bottom: 5px solid transparent;
            padding-bottom: 5px;
        }
    }

    .active-item {
        border-bottom: 5px solid white;

        .nav-item-text {
            color: $orange;
            font-weight: bold;
        }
    }
}

.lesson-card {



    &-files {

        a {
            background-color: white;
            padding: 15px 20px;
            margin-bottom: 50px;
            display: inline-block;
            border-radius: 15px;

            img {
                max-width: 40px;
                vertical-align: middle;
            }

            span.text-link {
                vertical-align: middle;
                color: $orange;
            }
        }
    }



    .section-text {
        padding: 15px 0;
    }

    &-video {
        position: relative;
        padding-bottom: 56.25%;
        /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
        height: 0;
        overflow: hidden;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }


}

.lesson-to-homework {
    border-top: 5px solid white;
    margin-top: 20px;
    padding-top: 15px;

    &-link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: bold;
        

    }
    &:hover {
        .to-homework {
            color: white;
            background-color: $orange;

            &-icon {
                color: $orange;
                background-color: white;
            }
        }

    }

}

.to-homework {
    background-color: white;
    color: #ff7500;
    padding: 10px 20px;
    border-radius: 15px 0 0 15px;
    

    &-icon {
        background-color: #ff7500;
        padding: 10px;
        border-radius: 0 15px 15px 0;
        
    }
}

.sheet-lesson {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;

    &-subject,
    &-homework {
        display: grid;
        grid-gap: 10px;
        grid-auto-rows: 40px;


    }

    &-subject {
        border-right: 2px solid orangered;
    }


    &-text {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 1px;
        border-bottom: 2px solid $orange;
        padding-left: 5px;


        &:hover {
            border-bottom: 2px solid white;
        }

        &:last-child {
            border-bottom: 2px solid transparent;
        }

    }

    &-tittle {
        font-size: 1.2rem;
        color: $orange;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        padding-left: 5px;

    }

}
